# Arbetskataloger
done_dir="{{ data_dirs['fetchlibris_done'].path }}"
begun_dir="{{ data_dirs['fetchlibris_begun'].path }}"
log_dir="{{ data_dirs['fetchlibris_log'].path }}"

# E-postmottagare
mail_user="{{ fetchlibris_mail_user }}"
