data_dir="{{ fetchlibris_data_dir }}"

# Arbetskataloger
done_dir="{{ fetchlibris_data_dir }}/done"
log_dir="{{ fetchlibris_data_dir }}/log"
begun_dir="{{ fetchlibris_data_dir }}/begun"

# E-postmottagare
mail_user="gunda@ub.gu.se,isabel.folkesson@ub.gu.se,martin.oxelqvist@ub.gu.se"
