export_dir="{{ koha_primo_export_export_dir }}"

tar_ext=".tar.gz"
tar_opts="czf"

file_prefix="46GUB-delta-"
file_ext=".marc"

primo_user="{{ koha_primo_export_user }}"
primo_group="{{ koha_primo_export_user }}"

exp_tmp="$$"
exp_root="/var/tmp"
exp_dir="$exp_root/$exp_tmp"

koha_path="{{ koha_primo_export_koha_path }}"
koha_instance="{{ koha_primo_export_koha_instance }}"
koha_shell="/usr/sbin/koha-shell"
export_records_opts="--dont_export_items --deleted_marc_conditions=942n=1"

data_dir="{{ koha_primo_export_data_dir }}"
