log4perl.logger.Koha.Plugin.Se.Ub.Gu.MarcImport=INFO, Email

log4perl.appender.Email=Log::Dispatch::Email::MIMEMailSender
log4perl.appender.Email.from=noreply@ub.gu.se
log4perl.appender.Email.to=g.katalog@ub.gu.se
log4perl.appender.Email.subject=Import Error
log4perl.appender.Email.smtp_host={{ smtp_host }}
log4perl.appender.Email.smtp_port={{ smtp_port }}
log4perl.appender.Email.layout=Log::Log4perl::Layout::SimpleLayout
