koha_instance="{{ koha_instance_name }}"
koha_path="{{ koha_home }}"

data_dir="/opt/loadlibris"

fetchlibris_done_dir="{{ fetchlibris_data_dir }}/done"

bulkmarcimport_in_dir="$data_dir/in"
bulkmarcimport_in_archive_dir="$data_dir/in_archive"
bulkmarcimport_err_dir="$data_dir/err"

bulkmarcimport_to_marc_plugin="Koha::Plugin::Se::Ub::Gu::MarcImport"
bulkmarcimport_match="System-control-number,035a"

loadlibris_log_dir="$data_dir/log"

bulkmarcimport_done_dir="$data_dir/done"
