koha_instance="{{ koha_instance_name }}"
koha_path="{{ koha_home }}"

data_dir="/opt/loadlibris"

in_dir="{{ fetchlibris_data_dir }}/done"
in_archive_dir="$data_dir/in_archive"

bulkmarcimport_in_dir="/opt/fetchlibris/done"
bulkmarcimport_err_dir="$data_dir/bulkmarcimport_err"

bulkmarcimport_bin="$koha_path/misc/migration_tools/bulkmarcimport.pl"
bulkmarcimport_to_marc_plugin="Koha::Plugin::Se::Ub::Gu::MarcImport"
bulkmarcimport_match="System-control-number,035a"

loadlibris_log_dir="$data_dir/log"

done_dir="$data_dir/done"
