#!/bin/bash

QADIR="{{ qa_home }}"
KOHADIR="{{ koha_home }}"
export PERL5LIB="${PERL5LIB}":"${KOHADIR}":"${KOHADIR}/C4/SIP":"${QADIR}"

cp "$QADIR"/perlcriticrc "$HOME"/.perlcriticrc

"$QADIR"/koha-qa.pl $@
