base_dir: {{ edifact_base_dir }}
email: {{ edifact_email }}

vendors:
  Dawson:
    host: ftp.dawsonbooks.co.uk
    port: '21'
    server_dir: '.'
    user: '{{ edifact_dawson_user }}'
    pass: '{{ edifact_dawson_password }}'
  Delbanco:
    host: ftp.delbanco.de
    port: '21'
    server_dir: '.'
    user: '{{ edifact_delbanco_user }}'
    pass: '{{ edifact_delbanco_password }}'
  Adlibris:
    host: dataftp.adlibris.com
    port: '21'
    server_dir: '.'
    user: '{{ edifact_adlibris_user }}'
    pass: '{{ edifact_adlibris_password }}'
  Bokus:
    host: 213.187.205.201
    port: 21
    server_dir: '.'
    user: '{{ edifact_bokus_user }}'
    pass: '{{ edifact_bokus_password }}'
