<Location />
  Order deny,allow
  Deny from all

  Allow from 130.241.0.0/16
  Allow from 10.0.0.0/8

  # xberns:
  Allow from 65.21.159.105

  Allow from 82.196.108.171
  Allow from 89.45.233.132
  Allow from 13.48.38.158

  # xlpero
  Allow from  98.128.166.79

  # Lars Berglen
  Allow from 212.85.66.9

  # xgudav
  Allow from 95.194.212.251
  Allow from 188.151.23.64
  Allow from 95.193.205.48
</Location>
<Location /cgi-bin>
  Order deny,allow
  Deny from all

  Allow from 130.241.0.0/16
  Allow from 10.0.0.0/8

  # xberns:
  Allow from 65.21.159.105

  Allow from 82.196.108.171
  Allow from 89.45.233.132
  Allow from 13.48.38.158

  # xlpero
  Allow from  98.128.166.79

  # Lars Berglen
  Allow from 212.85.66.9

  # xgudav
  Allow from 95.194.212.251
  Allow from 188.151.23.64
  Allow from 95.193.205.48
</Location>

SSLEngine on
SSLCertificateFile /etc/ssl/apache2/certs/ub-gu-se.pem
SSLCertificateKeyFile /etc/ssl/apache2/private/ub-gu-se.key
SSLCertificateChainFile /etc/ssl/apache2/certs/ub-gu-se-chain.pem
